.header {
  background-color: #edf4e4;

  img.logo {
    width: 100px;
    height: 42px;
  }

  .collapseNav {
    gap: 60px;
    .innerNav {
      margin-top: 0px;
      transition: margin-top 0.35s ease;
      gap: 24px;

      .navLink {
        font-size: 16px;
        font-weight: 500;
      }
    }

    &:global(.show),
    &:global(.collapsing) {
      .innerNav {
        margin-top: 24px;
        gap: 0px;
      }
      .button {
        margin-top: 24px;
      }
    }
  }
}
