.testimonials {
	display: flex;
	position: relative;
	user-select: none;
	overflow: hidden;
	flex-direction: column;

  &.testimonialsHidden {
    padding-bottom: 80px;
  }

	.background {
		filter: blur(10px);
		transform: scale(1.1);
		object-fit: cover;
	}

	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(#000, 0.2);
		z-index: 1;
	}

	.container {
		padding: 80px 0px;
		z-index: 1;
		text-align: center;

		@media (max-width: 778px) {
			padding: 48px 0px;
		}

		h2 {
			margin-bottom: 60px;
			font-size: 48px;
			color: #f0f0f0;
			font-weight: 400;
			padding: 24px 0;

			@media (max-width: 778px) {
				font-size: 24px;
				line-height: 32px;
				margin-bottom: 24px;
				padding: 12px 0;
			}
		}

		.embla {
			overflow: hidden;

			.emblaContainer {
				display: flex;

				.testimonial {
					background-color: #f9f6f4;
					padding: 36px 52px;
					text-align: center;
					width: 670px;
					border-radius: 4px;
					margin: 0 52px;
					flex-shrink: 0;

					@media (max-width: 778px) {
						width: 85%;
						padding: 24px 36px;
					}

					p {
						font-size: 16px;
						font-weight: 400;
						line-height: 26px;
						margin: 0;

						@media (max-width: 778px) {
							font-size: 14px;
							line-height: 20px;
						}
					}

					h4 {
						margin-top: 16px;
						font-size: 16px;
						font-weight: 500;
						line-height: 23px;

						@media (max-width: 778px) {
							font-size: 15px;
							line-height: 22px;
						}
					}

					h5 {
						font-size: 15px;
						font-weight: 300;
						line-height: 23px;

						@media (max-width: 778px) {
							font-size: 14px;
							line-height: 20px;
						}
					}
				}
			}
		}

		.buttonContainer {
			z-index: 1;
			margin-top: 40px;
			display: flex;
			gap: 60px;
			justify-content: center;

			@media (max-width: 778px) {
				margin-top: 30px;
				gap: 30px;
			}

			button {
				background-color: transparent;
				border: none;
				outline: none;
				box-shadow: none;
				cursor: pointer;

				.arrow {
					width: 36px;
					height: 36px;
					stroke: #f0f0f0;

					@media (max-width: 778px) {
						width: 32px;
						height: 32px;
					}
				}
			}
		}
	}
}
