.priceEstimator {
	background-color: #f8f6f1;
	position: relative;
	padding: 80px 48px 160px 48px;

	@media (max-width: 778px) {
		padding: 48px 24px 80px 24px;
	}

	.background {
		object-fit: cover;
	}

	.container {
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 120px;

		@media (max-width: 778px) {
			flex-direction: column;
			gap: 36px;
		}

		.content {
			max-width: 380px;

			h2 {
				font-size: 48px;
				line-height: 56px;
				font-weight: 500;
				color: #3c3c3c;
				margin-bottom: 12px;

				@media (max-width: 778px) {
					text-align: center;

					font-size: 24px;
					line-height: 32px;
				}
			}

			.description {
				font-size: 16px;
				line-height: 24px;
				font-weight: 500;
				color: #3c3c3c;
				font-family: var(--font-lato);
				margin-bottom: 12px;

				@media (max-width: 778px) {
					text-align: center;
					font-size: 14px;
					line-height: 20px;
				}
			}
		}

		.estimator {
			@media (max-width: 778px) {
				width: 100%;
			}

			.estimatorContainer {
				background-color: #fff;
				padding: 40px;
				border-radius: 4px;

				@media (max-width: 778px) {
					padding: 24px;
				}

				.field {
					display: flex;
					gap: 32px;
					align-items: center;
					justify-content: space-between;
					position: relative;
					margin: 18px 0;

					label {
						font-size: 16px;

						@media (max-width: 778px) {
							font-size: 14px;
						}
					}

					.dimensionsInputContainer {
						display: flex;
						align-items: center;
						gap: 10px;

						@media (max-width: 778px) {
							gap: 5px;
						}

						input {
							width: 90px;

							@media (max-width: 778px) {
								width: 50px;
							}
						}
					}

					input {
						background-color: #f3f3f3;
						outline: none;
						padding: 14px;
						border: none;
						box-shadow: 0 0 0px 1000px #f3f3f3 inset;
						width: 290px;
						border-radius: 4px;

						font-size: 14px;

						@media (max-width: 778px) {
							width: 160px;
							font-size: 12px;
						}
					}

					.selectContainer {
						background-color: #f3f3f3;
						display: flex;
						align-items: center;
						border-radius: 4px;

						.icon {
							position: absolute;
							height: 14px;
							width: 14px;
							right: 14px;
						}

						select {
							z-index: 2;
							border: none;
							background-color: transparent;
							appearance: none;
							width: 290px;
							padding: 14px 32px 14px 14px;
							outline: none;
							font-size: 14px;

							@media (max-width: 778px) {
								width: 160px;
								font-size: 12px;
							}

							&::-ms-expand {
								display: none;
							}
						}
					}
				}

				p.fieldError {
					margin: 10px 0;
					font-size: 12px;
					color: red;
					text-align: right;
				}

				.estimate {
					margin-top: 30px;

					.total {
						display: flex;
						align-items: center;
						justify-content: space-between;

						h4 {
							font-size: 18px;
							line-height: 24px;
							font-weight: 600;
							color: #3c3c3c;
							font-family: var(--font-lato);

							@media (max-width: 778px) {
								font-size: 16px;
							}
						}

						p {
							font-size: 20px;
							line-height: 24px;
							font-weight: 700;
							color: #3c3c3c;
							font-family: var(--font-lato);

							@media (max-width: 778px) {
								font-size: 16px;
								line-height: 22px;
							}
						}
					}

					.unit {
						display: flex;
						align-items: center;
						justify-content: space-between;

						h4 {
							font-size: 14px;
							line-height: 24px;
							font-weight: 600;
							color: #3c3c3c;
							font-family: var(--font-lato);

							@media (max-width: 778px) {
								font-size: 12px;
								line-height: 16px;
							}
						}

						p {
							font-size: 14px;
							line-height: 24px;
							font-weight: 700;
							color: #3c3c3c;
							font-family: var(--font-lato);

							@media (max-width: 778px) {
								font-size: 12px;
								line-height: 16px;
							}
						}
					}
				}
			}

			.disclaimer {
				display: flex;
				align-items: center;
				margin-top: 16px;
				font-size: 14px;
				font-weight: 400;
				color: #666;
			}
		}
	}
}
